
.back{
  font-family: 'bubblegum';
  position: fixed;
  top: 10px;
  left: 20px;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  background-color: black;
  opacity: 0.5;
  z-index: 999;
  border-radius: 8px;
}